.combobox-wrapper {
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: #f8f8f8;
  padding: 1.5rem;
  padding-right: 2.5rem;
}

.combobox-header {
  float: left;
}

.checkbox-group {
  height: 35vh;
  overflow: hidden scroll;
  scrollbar-width: thin;
}

.search-img {
  width: 20px;
}
